version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10-stretch

    working_directory: ~/koa-react-boilerplate

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Lint
          command: npm run lint

      - run:
          name: Run Tests
          command: npm run test

      - run:
          name: Build project
          command: npm run build

      - save_cache:
          paths:
            - node_modules
            - build
          key: v1-dependencies-{{ .Branch }}
