version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10-stretch

    working_directory: ~/farmony.io

    steps:
      - run:
          name: install-httpie
          command: apt-get install httpie

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run:
          name: install-dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: lint
          command: npm run lint

      - run:
          name: run tests
          command: npm test
